<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-app="app">
    <div ng-controller="BrowseItemsController as controller" ng-init="controller.checkAdminStatus(); controller.currentCategoryId ? controller.getCurrentItems(controller.currentCategoryId) : controller.getAllItems()" style="text-align: center">
        <h1>WELCOME TO MAIN PAGE</h1>
        <button class="button" ng-if="controller.isSimpleUserLoggedIn()" ng-click="controller.goToShoppingCart()">Shopping cart</button>
        <md-button class="md-primary md-raised test" ng-click="controller.showSearch($event)">
            Find by make
        </md-button><br/><br />
        <md-grid-list md-cols="2" md-cols-xs="1" md-row-height="5:4" md-gutter="20px">
            <md-grid-tile ng-repeat="item in controller.currentItems | startFrom:controller.currentPage*controller.pageSize | limitTo:controller.pageSize" class="grid-item">
                <div layout-padding="" layout="column" layout-align="center center">
                    <img class="item-image" ng-click="controller.goToItemInfo(item)" ng-src="{{item.imageData ? item.imageData : 'images/stockImage.png'}}" />
                    <span class="item-info">{{item.name}}</span>
                    <span style="color: red">{{item.price}} €</span>
                    <md-button ng-if="controller.isSimpleUserLoggedIn()" confirmed-click="controller.addCartItem(item)" ng-confirm-click="Are you sure you want to add to cart?">Add to cart</md-button>
                </div>

            </md-grid-tile>
        </md-grid-list>
        
        <div layout="row" layout-align="start center">
            <md-button class="md-raised md-primary" ng-if="controller.adminStatus" ng-click="controller.goToEditCategories()">Edit Categories</md-button>
        </div>

        <script type="text/ng-template" id="searchItems.dialog.html">
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Find parts by model</h2>
                        <span flex></span>
                        <md-button ng-click="controller.hideSearch()">
                            <md-icon>highlight_off</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <div layout="column">
                    <div layout="row">
                        <md-select placeholder="Select make" ng-model="search.make" md-on-open="controller.getCategoriesForSearch()" style="min-width: 200px;">
                            <md-option ng-value="make" ng-repeat="make in controller.searchCategories">{{make.name}}</md-option>
                        </md-select>
                        <md-select placeholder="Select model" ng-model="search.model" style="min-width: 200px;" ng-disabled="!search.make">
                            <md-option><em>None</em></md-option>
                            <md-option ng-value="model" ng-repeat="model in search.make.childCategories">{{model.name}}</md-option>
                        </md-select>
                    </div>
                    <md-select placeholder="Select category" ng-model="search.category" style="min-width: 400px;" ng-disabled="!search.model">
                        <md-option><em>None</em></md-option>
                        <md-option ng-value="category" ng-repeat="category in search.model.childCategories">{{category.name}}</md-option>
                    </md-select>
                    <md-select placeholder="Select select sub-category" ng-model="search.subCategory" style="min-width: 400px;" ng-disabled="!search.category">
                        <md-option><em>None</em></md-option>
                        <md-option ng-value="subCategory" ng-repeat="subCategory in search.category.childCategories">{{subCategory.name}}</md-option>
                    </md-select>
                </div>
                <div layout="column" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="controller.confirmSearch(search)">Search</md-button>
                </div>
            </form>


        </script>
    </div>

</body>



</html>