<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ASP.NET Core</title>
    <script src="../js/angular.js"></script>
    <link href="../css/styles.css" rel="stylesheet" />

</head>
<body ng-app="app">
    <div ng-controller="CategoriesController as controller" ng-init="controller.getCategories()">

        <script type="text/ng-template" id="treeRenderer.html">
            <div class="category-item" ng-click="controller.expandCategory(category.categoryId)">{{category.name}}</div>
            <div ng-show="category.isExpanded">
                <form name="createCategory">
                    <input type="text" ng-model="newCategoryName" placeholder="Enter category name" name="categoryName" required>
                    <input type="submit" ng-click="controller.addCategory(newCategoryName, category)" value="Add category">
                </form>
            </div>
            <div ng-show="category.isExpanded">
                <button ng-if="category.childCategories.length === 0 && category.childItems.length === 0" confirmed-click="controller.removeCategory(category.categoryId)" ng-confirm-click="Are you sure you want to delete {{category.name}}?">Delete category</button>
                <button ng-if="category.childCategories.length === 0" ng-click="controller.goToManageItems(category.categoryId)">Manage items</button>
            </div>
            <ul ng-if="category.childCategories">
                <li ng-repeat="category in category.childCategories" ng-include="'treeRenderer.html'"></li>
            </ul>
        </script>
        <br />
        <button ng-click="controller.pressCreateInitialCategory()" class="button">Add initial category</button>
        <div ng-show="controller.isCreateInitialCategoryPressed">
            <input ng-model="newInitialCategoryName" type="text" placeholder="Enter initial category name">
            <button ng-click="controller.addInitialCategory(newInitialCategoryName)">Add initial category</button>
        </div>
        <div ng-if="controller.loading">Loading...</div>
        <div ng-if="controller.error">{{ controller.error }}</div>
        <ul>
            <li ng-repeat="category in controller.categories" ng-include="'treeRenderer.html'"></li>
        </ul>


    </div>
</body>
</html>