<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ASP.NET Core</title>
    <script src="../js/angular.js"></script>
    <link href="../css/styles.css" rel="stylesheet" />

</head>
<body ng-app="app">
    <div ng-controller="ItemsController as controller" ng-init="controller.getItems()">
        <md-button ng-click="controller.expandAddItem()">Add item</md-button>
        <div ng-show="controller.isAddItemPressed">
            <md-content layout-padding="" layout="column" layout-align="center center">
                <form name="createItem">
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs="">
                            <label>Name</label>
                            <input ng-model="item.Name" type="text" name="name" required="" md-no-asterisk="">
                            <div ng-messages="createItem.name.$error">
                                <div ng-message="required">Name is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Price</label>
                            <input ng-model="item.Price" type="number" name="password" required="" md-no-asterisk="">
                            <div ng-messages="createItem.price.$error">
                                <div ng-message="required">Price is required.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-input-container class="md-block">
                        <label>Description</label>
                        <input ng-model="item.Description" type="text" name="description" md-no-asterisk="">
                    </md-input-container>

                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs="">
                            <label>OEM Number</label>
                            <input ng-model="item.OemNumber" type="text" name="oem" required="" md-no-asterisk="">
                            <div ng-messages="createItem.oem.$error">
                                <div ng-message="required">OEM number is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Part number</label>
                            <input ng-model="item.PartNumber" type="text" name="oem" required="" md-no-asterisk="">
                            <div ng-messages="createItem.part.$error">
                                <div ng-message="required">Part number is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div>
                        <input type="file" demo-file-model="myFile" id="myFileField" />
                    </div>
                    <br /><br />
                    <md-button class="md-raised" type="submit" ng-click="controller.addItem(item)">Create item</md-button><br />
                </form>
            </md-content>
        </div>
        <md-grid-list md-cols="2" md-cols-sm="1" md-cols-xs="1" md-row-height="5:4" md-gutter="20px">
            <md-grid-tile ng-repeat="item in controller.items | startFrom:controller.currentPage*controller.pageSize | limitTo:controller.pageSize" class="grid-item">
                <div layout-padding="" layout="column" layout-align="center center">
                    <span class="item-info">{{item.name}}</span>
                    <img class="item-image" ng-click="controller.goToItemInfo(item)" ng-src="{{item.imageData ? item.imageData : 'images/stockImage.png'}}" />
                    <span style="color: red">{{item.price}} €</span>

                    <md-button confirmed-click="controller.removeItem(item)" ng-confirm-click="Are you sure you want to delete {{item.name}}?"> Remove </md-button>
                </div>
            </md-grid-tile>
        </md-grid-list>

        <md-button ng-disabled="controller.currentPage == 0" ng-click="controller.currentPage=controller.currentPage-1">
            Previous
        </md-button>
        {{controller.currentPage+1}}/{{controller.numberOfPages()}}
        <md-button ng-disabled="controller.currentPage >= controller.items.length/controller.pageSize - 1" ng-click="controller.currentPage=controller.currentPage+1">
            Next
        </md-button><br/>

        <a href="#"><md-button class="md-raised">Go back</md-button></a>
        <div ng-if="controller.loading">Loading...</div>
        <div class="error-message" ng-if="controller.error">{{ controller.error }}</div>

    </div>
</body>
</html>