<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../css/styles.css" rel="stylesheet" />
    <title></title>
</head>
<body ng-app="app">
<div ng-controller="AccountController as controller" layout="column"  layout-align="center center">
    <h2>LOG IN</h2>
    <md-content layout-padding="">
        <div >
            <form name="login">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input ng-model="login.Email" type="email" name="name" required="" md-no-asterisk="">
                    <div ng-messages="login.name.$error">
                        <div ng-message="required">Email is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Password</label>
                    <input ng-model="login.Password" type="password" name="password" required="" md-no-asterisk="">
                    <div ng-messages="login.name.$error">
                        <div ng-message="required">Password is required.</div>
                    </div>
                </md-input-container>
                <div layout="column" layout-align="center center">
                    <md-button type="submit"class="md-raised" ng-click="login.$valid && controller.login(login)">Log in</md-button>
                </div> <br />
            </form>
        </div>
    </md-content>
    
    <span>Don't have an account? Register <a href="#!register">here</a></span>
    <div ng-if="controller.loading">Loading...</div><br/>
    <div class="error-message" ng-if="controller.error">{{ controller.error }}</div>
</div>
</body>
</html>