<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../css/styles.css" rel="stylesheet" />
    <title></title>
</head>
<body ng-app="app">
    <div ng-controller="AccountController as controller" layout="column" layout-align="center center">
        <h2>REGISTER</h2>
        <md-content layout-padding="">
            <div>
                <form name="register">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input ng-model="account.Email" type="email" name="name" required="" md-no-asterisk="">
                        <div ng-messages="register.name.$error">
                            <div ng-message="required">Email is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input ng-model="account.Password" type="password" name="password" required="" md-no-asterisk="">
                        <div ng-messages="register.password.$error">
                            <div ng-message="required">Password is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Confirm Password</label>
                        <input ng-model="account.Confirm" compare-to="password" type="password" name="confirm" required="" md-no-asterisk="">
                        <div ng-messages="register.confirm.$error">
                            <div ng-message="required">Please confirm password.</div>
                            <div ng-message="compare-to">Passwords must match</div>
                        </div>
                    </md-input-container>
                    <div layout="column" layout-align="center center">
                        <md-button type="submit" class="md-raised" ng-click="register.$valid && controller.createAccount(account)">Create Account</md-button>
                    </div>
                </form>
            </div>
        </md-content>
        <div ng-if="controller.loading">Loading...</div><br />
        <div class="error-message" ng-if="controller.error">{{ controller.error }}</div>
    </div>
</body>
</html>