.category-item {
    color: black;
    cursor: pointer;
    width: 70px;
}

    .category-item:hover {
        color: blue;
        cursor: pointer;
        text-decoration: underline;
        width: 100px;
    }

.flex-container {
    display: flex;
    min-height: -webkit-fill-available;
}

.sidewall {
    flex-grow: 2;
    background: gray;
}

.item-image {
    width: 200px;
    height: 200px;
}

textarea {
    width: 300px;
    height: 80px;
}

.item-image:hover {
    cursor: pointer;
}

.center-form {
    margin-top: 100px;
    text-align: center;
}

.main-content {
    flex-grow: 6;
}

.nav {
    background-color: #2d2d2d;
    color: white;
}

.test {
    background: #2d2d2d;
    background-color: #2d2d2d;
    color: #2d2d2d;
}

.item-blocks {
    border-style: solid;
    margin-bottom: 10px;
}

.item-view {
    text-align: center;
}

.item-info {
    font-weight: bold
}

li {
    font-size: 25px;
}

h1 {
    text-align: center;
}

input {
    margin: 2px;
}

form {
    margin: 2px;
}

label {
    margin: 2px;
}

.account-info {
    text-align: right;
    margin: 20px;
}

.red {
    background: red;
    opacity: 0.7;
}
.violet {
    background: violet;
    opacity: 0.7;
}
.green {
    background: green;
    opacity: 0.7;
}

.button {
    background-color: white;
    border: 2px solid #555555;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 12px;
}

    .button:hover {
        background-color: #555555;
        color: white;
    }

.menu-input {
}

.shop-name {
    font-size: 30px;
    flex: auto;
    margin: 5px;
}

.login-icon {
    width: 30px;
    height: 50%;
}

    .login-icon:hover {
        cursor: pointer;
    }


.error-message {
    color: crimson;
}

.grid-item {
    border-style: solid;
}


table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

td {
    word-break: break-all;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

table thead th:nth-child(0),
table thead th:nth-child(1) {
    width: 25%;
}

table thead th:nth-child(2) {
    width: 20%;
}

table thead th:nth-child(3) {
    width: 30%;
}
